<header class="header bg-gray-800 text-white p-4 fixed w-full top-0 z-50">
    <link rel="stylesheet" href="/css/header.css">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold hover:text-red-500 transition duration-300">
            <a href="/" class="hover:text-red-500">Netflix Clone</a>
        </h1>
        <nav class="nav-links space-x-4">
            <a href="/" class="btn-nav">Home</a>
            <a href="/login" class="btn-nav">Login</a>
            <a href="/register" class="btn-nav">Sign In</a>
        </nav>
    </div>
</header>
